<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto:${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nome}"></td>                
                <td th:text="${produto.valor}"></td>
                <td>
                    <a th:href="@{'/exibir/' + ${produto.id}}">Exibir</a>
                    <a th:href="@{'/editar/' + ${produto.id}}">Editar</a>
                    <a th:href="@{'/excluir/' + ${produto.id}}" onclick="return confirm('Voce realmente quer deletar esse produto?')">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h3><a href="/">Clique aqui</a> para ir para o início</h3>
</body>
</html>
